<section class="pm-product-single-accessories tw-py-[40px] ">
    <div class="pm-product-single-container tw-mx-auto tw-px-[15px]">
        <div class="row">
            <div class="col-12">
                <div class="pm-product-single-title tw-text-center">
                    <h2>Accessories for EASYHEAR</h2>
                </div>
                <!-- Accessories Slide Start -->
                <div class="swiper  pm-swiper-accessories tw-mt-[40px]">
                    <div class="swiper-wrapper">
                        <!-- Item Start -->
                        <div class="swiper-slide">
                            <div class="el-item">
                                <img src="8pm-assest/images/product/product-single-09.webp" alt="">
                                <div class="el-item-content">
                                    <h3 class="el-item-title">Chargen Clean</h3>
                                    <p class="el-item-desc">The EASYHEAR 2025 is a compact, powerful, and versatile
                                        hearing aid that is designed to help people with hearing loss to hear better in
                                        noisy environments.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Item End -->
                        <!-- Item Start -->
                        <div class="swiper-slide">
                            <div class="el-item">
                                <img src="8pm-assest/images/product/product-single-10.webp" alt="">
                                <div class="el-item-content">
                                    <h3 class="el-item-title">Standard Charger </h3>
                                    <p class="el-item-desc">A compact, stylish device designed for hassle-free
                                        charging-- providing a full day of use with just a 4-hour charge.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Item End -->
                        <!-- Item Start -->
                        <div class="swiper-slide">
                            <div class="el-item">
                                <img src="8pm-assest/images/product/product-single-11.webp" alt="">
                                <div class="el-item-content">
                                    <h3 class="el-item-title">Charge n Clean</h3>
                                    <p class="el-item-desc">The EASYHEAR 2025 is a compact, powerful, and versatile
                                        hearing aid that is designed to help people with hearing loss to hear better in
                                        noisy environments.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Item End -->
                        <!-- Item Start -->
                        <div class="swiper-slide">
                            <div class="el-item">
                                <img src="8pm-assest/images/product/product-single-12.webp" alt="">
                                <div class="el-item-content">
                                    <h3 class="el-item-title">Charge n Clean</h3>
                                    <p class="el-item-desc">The EASYHEAR 2025 is a compact, powerful, and versatile
                                        hearing aid that is designed to help people with hearing loss to hear better in
                                        noisy environments.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Item End -->
                        <!-- Item Start -->
                        <div class="swiper-slide">
                            <div class="el-item">
                                <img src="8pm-assest/images/product/product-single-13.webp" alt="">
                                <div class="el-item-content">
                                    <h3 class="el-item-title">Charge n Clean</h3>
                                    <p class="el-item-desc">The EASYHEAR 2025 is a compact, powerful, and versatile
                                        hearing aid that is designed to help people with hearing loss to hear better in
                                        noisy environments.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Item End -->
                    </div>
                </div>
                <!-- Accessories Slide End -->
            </div>
        </div>
    </div>
</section>