<section class="pm-product-single-why tw-bg-[#f8f6f5] tw-py-[50px] md:tw-py-[60px]">
    <div class="pm-product-single-container tw-mx-auto tw-px-[15px]">
        <div class="row">
            <div class="col-12">
                <div class="pm-product-single-title tw-text-center  tw-mx-auto">
                    <h2>Công Nghệ 5G Beamforming</h2>
                </div>
                <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-items-center tw-gap-[30px]  tw-mt-[30px]">
                    <img src="8pm-assest/images/product/home-why-1.jpg" alt="alt" class="tw-rounded-xl">
                    <div class="pm-product-single-title">
                        <h3>Tái Tạo Âm Thanh Tự Nhiên </h3>
                        <p>Sử dụng 5 micro hoạt động đồng bộ, liên tục phân tích môi trường âm thanh xung quanh (360
                            độ). Hệ thống tự động nhận diện và tăng cường giọng nói người đang giao tiếp đồng thời giảm
                            90% tiếng ồn, mang lại trải nghiệm nghe tự nhiên. </p>
                        <div class="wow fadeInUp" data-wow-delay="0.75s">
                            <a href="#" class="btn-default tw-mt-[20px]">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>