<section class="pm-product-single-why tw-bg-[#f8f6f5] tw-py-[50px] md:tw-py-[60px]">
    <div class="pm-product-single-container tw-mx-auto tw-px-[15px]">
        <div class="row">
            <div class="col-12">
                <div class="pm-product-single-title tw-text-center  tw-mx-auto">
                    <h2>EASYHEAR APP</h2>
                </div>
                <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-items-center tw-gap-[30px]  tw-mt-[30px]">
                    <img src="8pm-assest/images/product/product-single-06.webp" alt="alt">
                    <div class="pm-product-single-title">
                        <p>In today’s digital world, connectivity is a necessity when it comes to interacting with
                            everything around you. </p>
                        <p>We’ve designed our new Widex Allure app to make it as accessible as possible, also for less
                            tech-savvy users. This, in turn, can make it easier for you to adapt to and get the most out
                            of your hearing aids. </p>
                        <div class="wow fadeInUp" data-wow-delay="0.75s" >
                            <a href="#" class="btn-default tw-mt-[20px]">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>