<section
    class="pm-product-single-cta tw-bg-2nd tw-py-[50px] md:tw-py-[70px] tw-bg-cover tw-bg-center tw-bg-fixed parallaxie"
    style="background: url(8pm-assest/images/product/product-cta-form.jpg);">
    <div class="pm-product-single-container tw-mx-auto tw-px-[15px]">
        <div class="row">
            <div class="col-12">
                <div class="tw-bg-bg tw-rounded-xl tw-p-[30px] md:tw-p-[40px]">
                    <div class="pm-product-single-title tw-text-center">
                        <div class="wow fadeInUp" data-wow-delay="0">
                            <h2>Đăng ký kiểm tra thính lực </h2>
                            <!-- <h3>The shopfinder requires functional CTA </h3> -->
                            <p>Điều này mang lại trải nghiệm nghe tự nhiên, giúp bạn tham gia lại các hoạt động xã hội
                                và duy trì chất lượng cuộc sống mà không bị giới hạn bởi vấn đề thính lực</p>
                        </div>
                        <!-- Form Start -->
                        <div class="wow fadeInUp" data-wow-delay="0.25s">
                            <div class="contact-form tw-mt-[30px]  !tw-mx-auto">
                                @@include('components/home/form-contact.html')</div>
                        </div>
                        <!-- Form End -->
                        <!-- <a href="#" class="btn-default tw-mt-[20px]">Xem chi tiết</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>