<section class="pm-product-single-variant tw-py-[30px] ">
    <div class="pm-product-single-container tw-mx-auto tw-px-[15px]">
        <div class="row">
            <div class="col-12">
                <div class="pm-variants tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-items-center tw-gap-[30px]">
                    <div class="pm-variant_thumb-wrap tw-hidden md:tw-block">
                        <img src="8pm-assest/images/product/product-single-08.webp" alt="product"
                            class="pm-variant_thumb">
                    </div>
                    <div>
                        <div class="pm-product-single-title ">
                            <h3> Những Tính Năng Làm Nên Sự Khác Biệt</h3>
                            <div class="pm-product-single-content">
                                <ul>
                                    <li>Giảm Tiếng Ồn Gió </li>
                                    <li>Chống Tiếng Rít (Feedback Cancellation) </li>
                                    <li>Hỗ Trợ Tai Ù (Tinnitus Relief) </li>
                                    <li>Giảm tiếng ồn đột ngột </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tw-mt-[30px]">
                            <div class="pm-variant_thumb-wrap md:tw-hidden tw-mb-[30px]">
                                <img src="8pm-assest/images/product/product-single-08.webp" alt="product"
                                    class="pm-variant_thumb">
                            </div>
                            <div class="pm-variant_attr-wrap">
                                <div class="pm-variant_label">Available colors:</div>
                                <div class="pm-variant_attrs">
                                    <div class="pm-variant_attr active"
                                        data-img-src="8pm-assest/images/product/product-single-08.webp">Đen</div>
                                    <div class="pm-variant_attr "
                                        data-img-src="8pm-assest/images/product/product-single-09.webp">Trắng</div>
                                    <div class="pm-variant_attr "
                                        data-img-src="8pm-assest/images/product/product-single-10.webp">Vàng nhạt</div>
                                    <div class="pm-variant_attr "
                                        data-img-src="8pm-assest/images/product/product-single-11.webp">Bạc</div>
                                    <div class="pm-variant_attr "
                                        data-img-src="8pm-assest/images/product/product-single-12.webp">Xám nhạt</div>
                                    <div class="pm-variant_attr "
                                        data-img-src="8pm-assest/images/product/product-single-13.webp">Xám đậm</div>
                                    <div class="pm-variant_attr "
                                        data-img-src="8pm-assest/images/product/product-single-14.webp">Xanh da trời
                                    </div>
                                    <div class="pm-variant_attr "
                                        data-img-src="8pm-assest/images/product/product-single-15.webp">Hồng</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>