<section class="pm-product-single-video tw-py-[40px] ">
    <div class="pm-product-single-container tw-mx-auto tw-px-[15px] tab-area videos-tab">
        <div class="row" style="--bs-gutter-x: 1.5rem;--bs-gutter-y: 30px;">
            <div class="col-12">
                <!-- Section Title Start -->
                <div class="section-title tw-text-center tw-mb-[5px]">
                    <h3 class="wow fadeInUp">Video</h3>
                    <h2 class="wow fadeInUp" data-cursor="-opaque"><span>Những Tính Năng </span> Làm Nên Sự Khác Biệt
                    </h2>
                </div>
                <!-- Section Title End -->
            </div>
            <div class="col-12 col-md-3">
                <div class="tw-sticky sticky-top tw-z-10">
                    <div class="videos-tab_titles">
                        <div class="tab-area-title-item videos-tab_title"> VIDEO HƯỚNG DẪN SỬ DỤNG </div>
                        <div class="tab-area-title-item videos-tab_title"> VIDEO HƯỚNG DẪN SẠC </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-9">
                <div class="tab-area-content-item">
                    <div class="videos-tab_content-title"> VIDEO HƯỚNG DẪN SỬ DỤNG </div>
                    <div class="pm-video-iframe-wrap">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/b1k1yBCUzu4?si=dY06yo34XTbhqRku"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="tab-area-content-item">
                    <div class="videos-tab_content-title">VIDEO HƯỚNG DẪN SẠC </div>
                    <div class="pm-video-iframe-wrap">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/b1k1yBCUzu4?si=dY06yo34XTbhqRku"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>