<section class="pm-product-single-video tw-py-[30px] ">
    <div class="pm-product-single-container tw-mx-auto tw-px-[15px]">
        <div class="row">
            <div class="col-12">
                <div class="pm-video-iframe-wrap">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/b1k1yBCUzu4?si=dY06yo34XTbhqRku"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>