<section class="pm-product-single-why tw-bg-[#efefed] tw-py-[50px] md:tw-py-[60px]">
    <div class="pm-product-single-container tw-mx-auto tw-px-[15px]">
        <div class="row">
            <div class="col-12">
                <div class="pm-product-single-title tw-text-center  tw-mx-auto">
                    <h2>DÒNG BTE (Behind-The-Ear)</h2>
                    <p>Máy trợ thính đeo sau tai (BTE) là giải pháp phổ biến nhất toàn cầu nhờ hiệu suất vượt trội và
                        khả năng tương thích với mọi mức độ nghe kém. Thiết kế đặt thân máy sau vành tai tạo không gian
                        cho bộ xử lý công suất cao và pin dùng lâu, đồng thời đảm bảo thoải mái khi đeo cả ngày.</p>
                </div>
                <div class="tw-space-y-[50px] tw-mt-[30px] md:tw-mt-[60px]">
                    <!-- Item start -->
                    <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-[1fr_360px] tw-gap-[30px]">
                        <div class="pm-product-single-title ">
                            <h3>Phù Hợp Từ Nghe Kém Nhẹ Đến Sâu </h3>
                            <p>Dòng BTE có công suất cao nhất, đáp ứng mọi mức độ nghe kém từ nhẹ đến sâu. Đặc biệt hiệu
                                quả cho người cao tuổi, người nghe kém đột ngột do bệnh lý, hoặc trường hợp nghe kém
                                nặng cần công suất lớn.</p>
                        </div>
                        <img src="8pm-assest/images/product/bte-benifit-1.jpg" alt="alt"
                            class="tw-order-[-1] md:tw-order-[2]">
                    </div>
                    <!-- Item end -->
                    <!-- Item start -->
                    <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-[360px_1fr] tw-gap-[30px]">
                        <div class="pm-product-single-title ">
                            <h3>Pin Tiện Lợi, dễ dàng thay đổi </h3>
                            <p>Máy cảnh báo pin yếu để bạn chủ động thay thế, không cần sạc mỗi đêm hay mang theo phụ
                                kiện phức tạp </p>
                        </div>
                        <img src="8pm-assest/images/product/bte-benifit-2.jpg" alt="alt"
                            class="tw-order-[-1] ">
                    </div>
                    <!-- Item end -->
                    <!-- Item start -->
                    <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-[1fr_360px] tw-gap-[30px]">
                        <div class="pm-product-single-title ">
                            <h3>Dễ Sử Dụng, Thoải Mái Cả Ngày </h3>
                            <p>Thiết kế móc tai êm ái, thân máy nhẹ chỉ 2-3 gram. Đeo tháo đơn giản với nút điều chỉnh
                                âm lượng dễ thao tác. Phù hợp với người cao tuổi hoặc những ai chưa quen với thiết bị
                                công nghệ. </p>
                        </div>
                        <img src="8pm-assest/images/product/bte-benifit-3.jpg" alt="alt"
                            class="tw-order-[-1] md:tw-order-[2]">
                    </div>
                    <!-- Item end -->
                    <!-- Item start -->
                    <!-- <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-[360px_1fr] tw-gap-[30px]">
                        <div class="pm-product-single-title ">
                            <h3>Full color range </h3>
                            <p>Whether you’re more ‘Silver Grey’, ‘Rose Gold’, or something in between, Allure RIC’s
                                suite of stylish colors means you’ll be able to easily match your hearing aid to your
                                personal style. </p>
                        </div>
                        <img src="8pm-assest/images/product/product-single-04.webp" alt="alt"
                            class="tw-order-[-1] ">
                    </div> -->
                    <!-- Item end -->
                    <!-- Item start -->
                    <!-- <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-[1fr_360px] tw-gap-[30px]">
                        <div class="pm-product-single-title ">
                            <h3>Multiple charging options </h3>
                            <p>Choose from three convenient charging options: a sleek, portable charger offering up to
                                five on-the-go charges, a standard desk charger for simple, everyday use, or the Charge
                                n Clean charger, designed to dry and sanitize the hearing devices while they charge.
                            </p>
                        </div>
                        <img src="8pm-assest/images/product/product-single-05.webp" alt="alt"
                            class="tw-order-[-1] md:tw-order-[2]">
                    </div> -->
                    <!-- Item end -->
                </div>
            </div>
        </div>
    </div>
</section>