<section class="pm-product-single-why tw-bg-[#efefed] tw-py-[50px] md:tw-py-[60px]">
    <div class="pm-product-single-container tw-mx-auto tw-px-[15px]">
        <div class="row">
            <div class="col-12">
                <div class="pm-product-single-title tw-text-center  tw-mx-auto">
                    <h2>WHY CHOOSE EASYHEAR</h2>
                    <p>With Easyhear, built on our most advanced hearing aid platform yet, you can embrace life fully.
                        From the stylish and discreet design to the easy-to-use connectivity features, the Easyhear is
                        designed to help you feel confident and connected.</p>
                </div>
                <div class="tw-space-y-[50px] tw-mt-[30px] md:tw-mt-[60px]">
                    <!-- Item start -->
                    <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-[1fr_360px] tw-gap-[30px]">
                        <div class="pm-product-single-title ">
                            <h3>Discreet design</h3>
                            <p>The RIC hearing aid combines a discreet housing and almost invisible receiver wire,
                                giving you a cosmetically appealing option that delivers the full benefits of the Allure
                                platform. </p>
                        </div>
                        <img src="8pm-assest/images/product/product-single-01.webp" alt="alt"
                            class="tw-order-[-1] md:tw-order-[2]">
                    </div>
                    <!-- Item end -->
                    <!-- Item start -->
                    <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-[360px_1fr] tw-gap-[30px]">
                        <div class="pm-product-single-title ">
                            <h3>Comfortable fitting options </h3>
                            <p>The Allure RIC is available with multiple receiver lengths and a choice of instant or
                                custom ear tips, allowing you and your hearing care provider to find a comfortable,
                                personalized fit that's just right for you. </p>
                        </div>
                        <img src="8pm-assest/images/product/product-single-02.webp" alt="alt"
                            class="tw-order-[-1] ">
                    </div>
                    <!-- Item end -->
                    <!-- Item start -->
                    <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-[1fr_360px] tw-gap-[30px]">
                        <div class="pm-product-single-title ">
                            <h3>Telecoil streaming & Bluetooth </h3>
                            <p>You can wirelessly connect to hearing loop systems in public settings like theaters and
                                concert halls. The telecoil feature streams audio directly to your hearing aids, helping
                                you focus more easily by reducing interference from surrounding sounds. Bluetooth
                                streaming capabilities allow seamless connectivity and hands-free communication with
                                compatible devices for added convenience. </p>
                        </div>
                        <img src="8pm-assest/images/product/product-single-03.webp" alt="alt"
                            class="tw-order-[-1] md:tw-order-[2]">
                    </div>
                    <!-- Item end -->
                    <!-- Item start -->
                    <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-[360px_1fr] tw-gap-[30px]">
                        <div class="pm-product-single-title ">
                            <h3>Full color range </h3>
                            <p>Whether you’re more ‘Silver Grey’, ‘Rose Gold’, or something in between, Allure RIC’s
                                suite of stylish colors means you’ll be able to easily match your hearing aid to your
                                personal style. </p>
                        </div>
                        <img src="8pm-assest/images/product/product-single-04.webp" alt="alt"
                            class="tw-order-[-1] ">
                    </div>
                    <!-- Item end -->
                    <!-- Item start -->
                    <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-[1fr_360px] tw-gap-[30px]">
                        <div class="pm-product-single-title ">
                            <h3>Multiple charging options </h3>
                            <p>Choose from three convenient charging options: a sleek, portable charger offering up to
                                five on-the-go charges, a standard desk charger for simple, everyday use, or the Charge
                                n Clean charger, designed to dry and sanitize the hearing devices while they charge.
                            </p>
                        </div>
                        <img src="8pm-assest/images/product/product-single-05.webp" alt="alt"
                            class="tw-order-[-1] md:tw-order-[2]">
                    </div>
                    <!-- Item end -->
                </div>
            </div>
        </div>
    </div>
</section>