<!-- Popup notify Start -->
<div id="popup_notify" class="pm-popup-notify pm-popup">
    <div class="pm-popup_content">
        <div class="pm-popup_content-inner tw-p-[25px_20px] tw-rounded-xl tw-w-[300px] tw-relative">
            <div id="msgSubmit" class=""></div>
            <!-- Close button -->
            <button class="tw-absolute tw-top-[5px] tw-right-[5px] tw-bg-bg-opposite/5 hover:tw-bg-bg-opposite/15 tw-transition-all tw-border-0 tw-flex tw-items-center tw-justify-center tw-w-[25px] tw-h-[25px] tw-cursor-pointer tw-rounded-[50%]" onclick="pmPopupHidden('popup_notify')">
                <span
                    class="material-symbols-outlined !tw-text-[16px]"> close </span>
            </button>
        </div>
    </div>
    <div class="pm-popup_bg" onclick="pmPopupHidden('popup_notify')"></div>
</div>
<!-- Popup notify end -->