<section class="lg:tw-py-[30px] tw-bg-bg-opposite">
    <div class="container">
        <div class="row justify-content-center row-collapse">
            <div class="col col-lg-9">
                <div class="pm-video-iframe-wrap !tw-rounded-[0]">
                    <iframe width="200" height="315"
                        src="https://www.youtube.com/embed/YMPA-EjQ7LM?si=Xl6UDAb3lh6UQ4H5"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- <video muted="" autoplay="" loop="">
        <source src="8pm-assest/video/home-video-1.mp4" type="video/mp4">
    </video>
    <div class="el-texts ">
        <h1 class="wow fadeInUp" data-cursor="-opaque">GIỚI THIỆU </h1>
        <nav class="wow fadeInUp tw-mt-[20px]">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./">Trang Chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Giới Thiệu</li>
            </ol>
        </nav>
    </div> -->
</section>