<section class="pm-product-single-hero">
    <video muted="" autoplay="" loop="">
        <source src="8pm-assest/video/home-video-1.mp4" type="video/mp4">
    </video>
    <div class="el-texts ">
        <h1 class="wow fadeInUp" data-cursor="-opaque">GIỚI THIỆU </h1>
        <nav class="wow fadeInUp tw-mt-[20px]">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./">Trang Chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Giới Thiệu</li>
            </ol>
        </nav>
    </div>
</section>