<!-- Insurance Company Logo Slider Start -->
<div class="insurance-company-carousel">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="insurance-carousel-title">
                    <h3>Được Tin Tưởng Bởi Các Đối Tác</h3>
                </div>
            </div>
            <div class="col-lg-8">
                <!-- company Carousel Start -->
                <div class="company-carousel">
                    <div class="swiper companies_logo_slider">
                        <div class="swiper-wrapper">
                            <!-- company Logo Start -->
                            <div class="swiper-slide">
                                <div class="company-logo">
                                    <img src="images/client-logo-1.svg" alt="">
                                </div>
                            </div>
                            <!-- company Logo End -->
                            <!-- company Logo Start -->
                            <div class="swiper-slide">
                                <div class="company-logo">
                                    <img src="images/client-logo-2.svg" alt="">
                                </div>
                            </div>
                            <!-- company Logo End -->
                            <!-- company Logo Start -->
                            <div class="swiper-slide">
                                <div class="company-logo">
                                    <img src="images/client-logo-3.svg" alt="">
                                </div>
                            </div>
                            <!-- company Logo End -->
                            <!-- company Logo Start -->
                            <div class="swiper-slide">
                                <div class="company-logo">
                                    <img src="images/client-logo-1.svg" alt="">
                                </div>
                            </div>
                            <!-- company Logo End -->
                            <!-- company Logo Start -->
                            <div class="swiper-slide">
                                <div class="company-logo">
                                    <img src="images/client-logo-2.svg" alt="">
                                </div>
                            </div>
                            <!-- company Logo End -->
                            <!-- company Logo Start -->
                            <div class="swiper-slide">
                                <div class="company-logo">
                                    <img src="images/client-logo-3.svg" alt="">
                                </div>
                            </div>
                            <!-- company Logo End -->
                        </div>
                    </div>
                </div>
                <!-- company Carousel End -->
            </div>
        </div>
    </div>
</div>
<!-- Insurance Company Logo Slider End -->