<!-- Page About Start -->
<div class="tw-pt-[40px] md:tw-pt-[60px]">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!-- Section Title Start -->
                <div class="section-title tw-text-center">
                    <h1 class="wow fadeInUp" data-cursor="-opaque"><span>CÔNG NGHỆ 5G BEAMFORMING</span>  ĐỘC QUYỀN</h1>
                    <div class="tw-text-justify">
                        <p class="wow fadeInUp" data-wow-delay="0.25s" class="">Máy trợ thính 5G bao gồm các loại: máy
                            trợ thính wowNice đeo quanh cổ, máy trợ thính sau tai BTE, máy trợ thính trong ống tai RIC,
                            máy trợ thính bỏ túi Grand và máy trợ thính trong tai ITE. Trước khi sử dụng máy trợ thính,
                            người lớn tuổi và các đối tượng dùng máy cần được kiểm tra kỹ thính lực bởi các chuyên gia.
                            Sau đó, bệnh nhân sẽ được tư vấn lựa chọn loại trợ thính phù hợp để nghe thử. Ngoài việc lựa
                            chọn hình dáng trợ thính theo sở thích, sản phẩm trợ thính chọn mua nên phù hợp với môi
                            trường làm việc, các yêu cầu về chất lượng để phù hợp với lối sống của người dùng trợ thính.
                        </p>
                    </div>
                </div>
                <!-- Section Title End -->
            </div>
        </div>
    </div>
</div>
<!-- Page About End -->