<!-- Product Item Start -->
<div class="pm-box-product-shop wow fadeInUp">
    <!-- Product Featured Image Start-->
    <div class="pm-box-product-shop_feature" >
        <a href="/product-single.html" class="pm-box-product-shop_feature-img-wrap image-anime">
            <img src="8pm-assest/images/blog/blog-2.jpg" alt="san pham" class="pm-box-product-shop_feature-img">
        </a>
        <button class="pm-box-product-shop_add-cart">
            <svg class="pm-box-product-shop_add-cart-icon" width="20" height="20" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M2.832 4.387h.511c.86 0 1.618.56 1.87 1.381l3.065 9.958a1.96 1.96 0 0 0 1.87 1.381h6.963c.826 0 1.563-.518 1.842-1.295l2.04-5.68c.686-1.913-.731-3.928-2.763-3.928h-7.57"
                    stroke="currentColor" stroke-width="1.7" stroke-linecap="round" />
                <circle cx="10.171" cy="20.532" r="1.468" fill="currentColor" />
                <circle cx="17.02" cy="20.532" r="1.468" fill="currentColor" />
            </svg>
            <!-- <span class="pm-box-product-shop_add-cart-text">Thêm giỏ hàng</span></button> -->
    </div>
    <!-- Product Featured Image End -->
    <!-- Product Body Start -->
    <div class="pm-box-product-shop_body">
        <a href="/product-single.html" class="pm-box-product-shop_title">Máy trợ thính 5G trong tai ITE MỚI NHẤT</a>
        <p class="pm-box-product-shop_desc">Kích thước mini, thời trang, thanh lịch, thẩm mỹ</p>
        <div class="pm-box-product-shop_meta">
            <div class="pm-box-product-shop_price">199.000.000 Đ</div>
            <div class="pm-box-product-shop_rating">
                <svg class="pm-box-product-shop_rating-icon" width="20" height="20" viewBox="0 0 24 24"
                    data-name="Flat Color"
                    xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                    <path
                        d="M22 9.81a1 1 0 0 0-.83-.69l-5.7-.78-2.59-4.81a1 1 0 0 0-1.76 0L8.57 8.34l-5.7.78a1 1 0 0 0-.82.69 1 1 0 0 0 .28 1l4.09 3.73-1 5.24a1 1 0 0 0 1.46 1.12L12 18.38l5.12 2.52a1 1 0 0 0 .44.1 1 1 0 0 0 1-1.18l-1-5.24 4.09-3.73A1 1 0 0 0 22 9.81" />
                </svg>
                <span class="pm-box-product-shop_rating-text"> 4.5 (95 đánh giá) </span>
            </div>
        </div>
    </div>
    <!-- Product Body End-->
</div>
<!-- Product Item End -->