<section class="pm-home-feature tw-py-[40px] md:tw-py-[60px]" id="feature">
    <div class="container">
        <div class="row  make-box-equal">
            <div class="col-lg-12">
                <!-- Section Title Start -->
                <div class="section-title tw-text-center">
                    <h2 class="wow fadeInUp" data-cursor="-opaque"><span>EasyHear</span> mang lại lợi ích gì cho bạn?
                    </h2>
                </div>
                <!-- Section Title End -->
            </div>
            <div class="col-12">
                <div class="swiper swiper-default max-sm:tw-overflow-visible" data-slider-per-view="1.8"
                    data-slider-per-view-md="3" data-slider-per-view-lg="4" data-space-between="24">
                    <div class="swiper-wrapper">
                        <!-- Hero Slide Start -->
                        <div class="swiper-slide">
                            <div class="pm-single-prd-feature-box box">
                                <div class="pm-single-prd-feature-box_thumb">
                                    <div class="pm-single-prd-feature-box_thumb-inner">
                                        <img src="8pm-assest/images/product/icon1.jpg" alt="product"
                                            class="pm-single-prd-feature-box_thumb-img">
                                    </div>
                                </div>
                                <div class="pm-single-prd-feature-box_body">
                                    <div class="pm-single-prd-feature-box_title">Hội thoại sắc nét </div>
                                    <div class="pm-single-prd-feature-box_desc"> Nghe rõ ràng ngay cả trong nhà hàng ồn
                                        ào, chợ, hoặc buổi tiệc gia đình. </div>
                                </div>
                            </div>
                        </div>
                        <!-- Hero Slide End -->
                        <!-- Hero Slide Start -->
                        <div class="swiper-slide">
                            <div class="pm-single-prd-feature-box box">
                                <div class="pm-single-prd-feature-box_thumb">
                                    <div class="pm-single-prd-feature-box_thumb-inner">
                                        <img src="8pm-assest/images/product/icon2.jpg" alt="product"
                                            class="pm-single-prd-feature-box_thumb-img">
                                    </div>
                                </div>
                                <div class="pm-single-prd-feature-box_body">
                                    <div class="pm-single-prd-feature-box_title">Giảm ồn chủ động (đến 90%) </div>
                                    <div class="pm-single-prd-feature-box_desc"> Chủ động lọc và loại bỏ tiếng ồn nền
                                        gây phiền nhiễu </div>
                                </div>
                            </div>
                        </div>
                        <!-- Hero Slide End -->
                        <!-- Hero Slide Start -->
                        <div class="swiper-slide">
                            <div class="pm-single-prd-feature-box box">
                                <div class="pm-single-prd-feature-box_thumb">
                                    <div class="pm-single-prd-feature-box_thumb-inner">
                                        <img src="8pm-assest/images/product/icon3.jpg" alt="product"
                                            class="pm-single-prd-feature-box_thumb-img">
                                    </div>
                                </div>
                                <div class="pm-single-prd-feature-box_body">
                                    <div class="pm-single-prd-feature-box_title"> Nghe rõ ở khoảng cách xa </div>
                                    <div class="pm-single-prd-feature-box_desc"> Tín hiệu tập trung giúp bạn nghe rõ
                                        người nói dù ở xa (lý tưởng cho họp, học) </div>
                                </div>
                            </div>
                        </div>
                        <!-- Hero Slide End -->
                        <!-- Hero Slide Start -->
                        <div class="swiper-slide">
                            <div class="pm-single-prd-feature-box box">
                                <div class="pm-single-prd-feature-box_thumb">
                                    <div class="pm-single-prd-feature-box_thumb-inner">
                                        <img src="8pm-assest/images/product/icon4.jpg" alt="product"
                                            class="pm-single-prd-feature-box_thumb-img">
                                    </div>
                                </div>
                                <div class="pm-single-prd-feature-box_body">
                                    <div class="pm-single-prd-feature-box_title">Giảm ù tai, tiếng gió, tiếng vọng
                                    </div>
                                    <div class="pm-single-prd-feature-box_desc"> Các thuật toán chuyên biệt xử lý các âm
                                        thanh khó chịu này, mang lại trải nghiệm nghe thoải mái </div>
                                </div>
                            </div>
                        </div>
                        <!-- Hero Slide End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>