<section class="pm-product-single-hero">
    <!-- <video muted="" autoplay="" loop="">
        <source src="8pm-assest/video/home-video-1.mp4" type="video/mp4">
    </video> -->
    <div class="el-img-wrap tw-relative">
        <img src="8pm-assest/images/product/5G-BEAMFORMING--baner-head.jpg" alt="">
        <div class="el-img-shadow tw-absolute tw-top-0 tw-left-0 tw-w-full tw-h-full tw-bg-black tw-opacity-50"></div>
    </div>
    <div class="el-texts ">
        <h1 class="wow fadeInUp" data-cursor="-opaque">SẢN PHẨM </h1>
        <h2 class="wow fadeInUp" data-wow-delay="0.25s">Ứng Dụng Công Nghệ Viễn Thông 5G Để Tái Tạo Âm Thanh Của Bạn </h2>
    </div>
</section>