<!-- Page Product Start -->
<div class="page-product_proudcts tw-py-[40px] md:tw-py-[60px]">
    <div class="container">
        <div class="row row-products">
            <div class="col-6 col-lg-4 col-md-4"> @@include('components/product/box-product.html') </div>
            <div class="col-6 col-lg-4 col-md-4"> @@include('components/product/box-product.html') </div>
            <div class="col-6 col-lg-4 col-md-4"> @@include('components/product/box-product.html') </div>
            <div class="col-6 col-lg-4 col-md-4"> @@include('components/product/box-product.html') </div>
            <div class="col-6 col-lg-4 col-md-4"> @@include('components/product/box-product.html') </div>
            <div class="col-6 col-lg-4 col-md-4"> @@include('components/product/box-product.html') </div>
  
        </div>
        <div class="row tw-mt-[40px] ">
            <div class="col-md-12"> @@include('components/pagination.html') </div>
        </div>
    </div>
</div>
<!-- Page Blog End -->