/* Header ---- */
header.main-header {
    border-bottom: unset;
}

.header-sticky {
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--dark-divider-color);
    transition: 220ms all;
}

.main-header.is-sticky-header .header-sticky  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}



/* HOME - Hero ---- */
.pm-hero-slider .el-item {
    position: relative;
    width: 100%;
    padding-top: 650px;
    margin: 0 auto;
}

.pm-hero-slider video,
.pm-hero-slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    line-height: 0;
}

.pm-hero-slider .swiper-slide {
    background-color: rgb(var(--bg-2nd));
}


/* Home - Contact --- */
.pm-home-contact .google-map iframe {
    width: 100%;
    height: 260px;
    border-radius: var(--radius-3);
}

.pm-home-contact .el-contact-title {
    font-size: var(--size-3);
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 14px;
}

.pm-home-contact .contact-info-content p {
    max-width: unset;
}

/* Home - Faq --- */
.pm-page-faqs .accordion-header .accordion-button {
    font-weight: 500;
    line-height: 1.5;
}

.pm-page-faqs .accordion-body p {
    line-height: 1.5;
    margin-bottom: 14px;
}

.pm-page-faqs .accordion-body b,
.pm-page-faqs .accordion-body strong {
    color: rgb(var(--color-text-title));
}

.pm-page-faqs .faq-sidebar {
    top: 130px;
}

/* Home -Benefit --- */
.pm-about-us .about-img-1 {
    width: 70%;
}

.pm-about-us .about-img-2 {
    text-align: right;
    width: 65%;
}

/* Home - Products --- */
.pm-home-products {
    position: relative;
    background-color: rgb(var(--bg-2nd));
    padding: 70px 0;
}

/* Ux - Product --- */
.swiper-products-auto-width .swiper-slide {
    width: 340px;
}

.pm-product-box {
    position: relative;
    background-color: rgb(var(--bg));
    box-shadow: 0px 4px 40px 0px #0000000F;
    border-radius: var(--radius-3);
    overflow: hidden;
}

.pm-product-box_body {
    padding: 24px 30px 35px;
}

.pm-product-box_sub {
    color: rgb(var(--color-text-title)/ 60%);
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 10px;
    font-weight: 500;
}

.pm-product-box_title {
    color: rgb(var(--color-text-title));
    font-size: var(--size-4);
    line-height: 1.4;
    font-family: var(--ff-heading);
    margin-bottom: 10px;
    font-weight: 600;
}

.pm-product-box_desc {
    line-height: 1.5;
    color: rgb(var(--color-text-title));
}

.pm-product-box_thumb-inner {
    padding-top: 65%;
    position: relative;
}

.pm-product-box_thumb-inner::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgb(var(--bg)) 0%, transparent 40%);
}

.pm-product-box_thumb-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    line-height: 0;
}

.pm-product-box_cart {
    font-size: var(--size-small);
    line-height: 1.3;
    font-weight: 500;
    background-color: rgb(var(--bg));
    border-radius: 300px;
    box-shadow: 0px 4px 40px 0px rgb(0 0 0/50%);
    position: absolute;
    z-index: 2;
    right: 24px;
    bottom: 24px;
    color: rgb(var(--color-text-title));
    padding: 10px 20px;
    transition: 240ms all;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.pm-product-box_cart:hover {
    background-color: rgb(var(--color-primary));
    color: rgb(var(--bg));
}

.pm-product-box_cart svg {
    width: 20px;
    height: 20px;
}

/* Ux - Single post tag --- */
.post-tags .tag-links a {
    font-size: var(--size-small);
    font-weight: 400;
    border-radius: var(--radius-1);
    padding: 5px 15px;
}

/* Ux - Social --- */
.post-social-sharing ul li a {
    border-radius: var(--radius-1);
    width: 35px;
    height: 35px;
}

.post-social-sharing ul li a i {
    font-size: 15px;
}

/* Single - Post ---- */
.page-header-box h1 {
    font-weight: 600;
    line-height: 1.3;
}

.post-content :is(h1, h2, h3, h4, h5, h6, img, ul, ol, table, blockquote) {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/* Ux - Content view more --- */
.box-content-loadmore {
    position: relative;
    z-index: 20;
    overflow: hidden;
}

.box-content-loadmore .el-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 140px;
    background: linear-gradient(to top, rgb(var(--bg)) 50%, transparent);
    padding: 20px 20px 5px;
}

/* Ux - Product list --- */
.row-products {
    --bs-gutter-x: 30px;
    --bs-gutter-y: 30px;
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.row-products>* {
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.pm-box-product-shop {
    --product-img-ratio: 100%;
}

.pm-box-product-shop_feature-img-wrap {
    position: relative;
    padding-top: var(--product-img-ratio);
    border-radius: var(--radius-3);
    background-color: rgb(var(--bg-2nd));
    display: block;
    width: 100%;
    overflow: hidden;
}

.pm-box-product-shop_feature-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    line-height: 0;
}

.pm-box-product-shop_body {
    padding: 12px 6px;
}

.pm-box-product-shop_title {
    color: rgb(var(--color-text-title));
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 5px;
    font-weight: 500;
    transition: 240ms all ease-in-out;
    display: block;
}

.pm-box-product-shop_title:hover {
    color: rgb(var(--color-primary));
}

.pm-box-product-shop_desc {
    line-height: 1.4;
    color: rgb(var(--color-text-basic)/70%);
    font-size: var(--size-small-a);
    margin-bottom: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pm-box-product-shop_meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px 8px;
    margin-top: 15px;
    align-items: center;
}

.pm-box-product-shop_price {
    width: fit-content;
    white-space: pre-line;
    color: rgb(var(--color-price));
    font-size: var(--size-small);
    font-weight: 600;
    border-radius: var(--radius-2);
    padding: 6px 8px;
    border: 2px solid rgb(var(--color-price)/50%);
    line-height: 1.05;
}

.pm-box-product-shop_rating {
    font-size: var(--size-small-a);
    color: rgb(var(--color-text-basic)/70%);
    line-height: 1.2;
    display: inline-flex;
    width: max-content;
    align-items: center;
    gap: 3px;
}

.pm-box-product-shop_rating-icon {
    color: rgb(var(--color-warning));
    width: 16px;
    height: 16px;
    transform: translateY(-0.1em);
}

.pm-box-product-shop_feature {
    position: relative;
}

.pm-box-product-shop_add-cart {
    width: fit-content;
    max-width: 100%;
    background-color: rgb(var(--bg));
    color: rgb(var(--color-text-title));
    font-size: var(--size-small-a);
    font-weight: 400;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    border-radius: 50%;
    border: 0;
    box-shadow: 0px 4px 15px 0px rgb(0 0 0/20%);
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 40px;
    height: 40px;
    z-index: 10;
    transition: 140ms all ease-in-out;
}

.pm-box-product-shop_add-cart:hover {
    color: rgb(Var(--color-primary));
}

.pm-box-product-shop_add-cart-icon {
    width: 22px;
    height: 22px;
}

/* Single Product ------ */
.pm-product-single-hero {
    line-height: 0;
    position: relative;
}

.pm-product-single-hero video {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.pm-product-single-hero .el-texts {
    max-width: 650px;
    width: 100%;
    padding: 30px 20px;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 4px 4px rgb(0 0 0/15%);
}

.pm-product-single-hero h1 {
    color: white;
    font-weight: 300;
    line-height: 1.2;
    font-size: var(--size-7);
    margin-bottom: 10px;
}

.pm-product-single-hero p {
    margin-bottom: 0;
    font-size: vaR(--size-2);
    line-height: 1.4;
}

.pm-product-single-container {
    max-width: 1170px;
}

/* Single product- Title --- */
.pm-product-single-title h2 {
    font-size: var(--size-8);
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 20px;
    color: rgb(var(--color-text-title));
}

.pm-product-single-title h3 {
    font-size: var(--size-6);
    line-height: 1.3;
    font-weight: 300;
    margin-bottom: 20px;
    color: rgb(var(--color-text-title));
}

.pm-product-single-title p {
    font-size: var(--size-3);
    line-height: 1.6;
    color: rgb(var(--color-text-title));
    font-weight: 300;
    margin-bottom: 1rem;
}

.pm-product-single-title p:last-child {
    margin-bottom: 0;
}

/* Ux - Video Iframe Wrap ---- */
.pm-video-iframe-wrap {
    position: relative;
    padding-top: 56.25%;
    border-radius: var(--radius-2);
    background-color: rgb(var(--bg-2nd));
    display: block;
    width: 100%;
    overflow: hidden;
}

.pm-video-iframe-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


/* Product Single Variants ---- */
.pm-variant_thumb-wrap {
    text-align: center;
}

.pm-variant_thumb {
    max-width: 350px;
    margin: auto;
}

.pm-variant_attrs {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 15px;
}

.pm-variant_label {
    color: rgb(var(--color-text-title));
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 14px;
}

.pm-variant_attr {
    font-size: 1rem;
    color: rgb(var(--color-text-title));
    line-height: 1.2;
    min-width: 70px;
    border: 1px solid rgb(var(--color-border-1)/10%);
    border-radius: var(--radius-sm);
    padding: 7px 12px;
    transition: 320ms all ease-in-out;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.pm-variant_attr:hover {
    border: 1px solid rgb(var(--color-border-1)/40%);
}

.pm-variant_attr.active {
    border: 1px solid rgb(var(--color-border-1));
}


/* Single Product - Accessories Slide ---- */

.pm-product-single-accessories img {
    margin-bottom: 20px;
}

.pm-product-single-accessories .el-item {
    text-align: center;
}

.pm-product-single-accessories .el-item-title {
    font-weight: 300;
    font-size: var(--size-5);
    color: rgb(var(--color-text-title));
    margin-bottom: 15px;
    line-height: 1.3;
}

.pm-product-single-accessories .el-item-desc {
    font-size: var(--size-2);
    line-height: 1.6;
    color: rgb(var(--color-text-title));
    margin-bottom: 1rem;
    font-weight: 300;
}



/* Responsive ---------------- */
@media only screen and (min-width: 1600px) {
    .pm-hero-slider .el-item {
        border-radius: var(--radius-4);
        max-width: 1400px;
        overflow: hidden;
    }

    .pm-hero-slider .swiper-slide {
        padding: 15px 0;
    }

}

@media only screen and (min-width: 1025px) and (max-width: 1400px) {}


@media only screen and (max-width: 991px) {

    .pm-hero-slider .el-item {
        padding-top: 350px;
    }

    .pm-our-testimonials .testimonial-img img {
        aspect-ratio: 1 / 0.7;
    }

    .pm-home-products {
        padding: 50px 0;
    }

    .pm-home-products {
        padding: 40px 0;
    }

    .swiper-products-auto-width {
        overflow: visible;
    }


}

@media only screen and (max-width: 767px) {
    .pm-box-product-shop_add-cart {
        right: 12px;
        bottom: 12px;
        width: 36px;
        height: 36px;
    }

    .pm-box-product-shop_meta {
        margin-top: 12px;
    }


    .pm-product-single-hero video {
        height: 300px;
    }

    .pm-product-single-hero h1 {
        font-size: var(--size-5);
    }

    .pm-product-single-hero p {
        font-size: 1rem;
    }

    .pm-product-single-title h2 {
        font-size: var(--size-6);
    }


}

@media only screen and (max-width: 575px) {
    .row-products {
        --bs-gutter-x: 20px;
        --bs-gutter-y: 20px;

    }

    .pm-variant_thumb {
        max-width: 100%;
        margin: auto;
    }
}