*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

.tw-col-span-2 {
  grid-column: span 2 / span 2
}

.tw-mb-\[8px\] {
  margin-bottom: 8px
}

.tw-mt-\[14px\] {
  margin-top: 14px
}

.tw-mt-\[35px\] {
  margin-top: 35px
}

.tw-flex {
  display: flex
}

.tw-grid {
  display: grid
}

.tw-hidden {
  display: none
}

.tw-h-\[60px\] {
  height: 60px
}

.tw-h-\[80px\] {
  height: 80px
}

.\!tw-w-\[auto\] {
  width: auto !important
}

.tw-grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.tw-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

.tw-items-center {
  align-items: center
}

.tw-gap-\[10px\] {
  gap: 10px
}

.tw-gap-\[30px_50px\] {
  gap: 30px 50px
}

.tw-border-0 {
  border-width: 0px
}

.tw-border-t {
  border-top-width: 1px
}

.tw-border-solid {
  border-style: solid
}

.tw-border-border {
  --tw-border-opacity: 1;
  border-color: rgb(var(--color-border-1) / var(--tw-border-opacity, 1))
}

.tw-border-border\/10 {
  border-color: rgb(var(--color-border-1) / 0.1)
}

.tw-bg-bg-2nd {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--bg-2nd) / var(--tw-bg-opacity, 1))
}

.tw-object-contain {
  -o-object-fit: contain;
     object-fit: contain
}

.tw-py-\[30px\] {
  padding-top: 30px;
  padding-bottom: 30px
}

.tw-py-\[40px\] {
  padding-top: 40px;
  padding-bottom: 40px
}

.tw-pb-\[60px\] {
  padding-bottom: 60px
}

.tw-pt-0 {
  padding-top: 0px
}

.tw-pt-\[10px\] {
  padding-top: 10px
}

.tw-text-center {
  text-align: center
}

.tw-text-sm {
  font-size: var(--size-small)
}

.tw-font-semibold {
  font-weight: 600
}

.tw-ordinal {
  --tw-ordinal: ordinal;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}

.\!tw-text-bg {
  --tw-text-opacity: 1 !important;
  color: rgb(var(--bg) / var(--tw-text-opacity, 1)) !important
}

.tw-text-bg {
  --tw-text-opacity: 1;
  color: rgb(var(--bg) / var(--tw-text-opacity, 1))
}

.tw-text-bg\/70 {
  color: rgb(var(--bg) / 0.7)
}

/* Your custom styles */

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
}

@media (min-width: 576px) {
  .sm\:tw-pt-\[20px\] {
    padding-top: 20px
  }
}

@media (min-width: 768px) {
  .md\:tw-py-\[40px\] {
    padding-top: 40px;
    padding-bottom: 40px
  }

  .md\:tw-py-\[60px\] {
    padding-top: 60px;
    padding-bottom: 60px
  }

  .md\:tw-py-\[50px\] {
    padding-top: 50px;
    padding-bottom: 50px
  }
}

@media (min-width: 992px) {
  .lg\:tw-hidden {
    display: none
  }

  .lg\:tw-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }
}