*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

.tw-absolute {
  position: absolute
}

.tw-relative {
  position: relative
}

.tw-sticky {
  position: sticky
}

.tw-left-0 {
  left: 0px
}

.tw-top-0 {
  top: 0px
}

.tw-z-10 {
  z-index: 10
}

.tw-order-\[-1\] {
  order: -1
}

.tw-col-span-2 {
  grid-column: span 2 / span 2
}

.\!tw-mx-auto {
  margin-left: auto !important;
  margin-right: auto !important
}

.tw-mx-auto {
  margin-left: auto;
  margin-right: auto
}

.tw-mb-\[30px\] {
  margin-bottom: 30px
}

.tw-mb-\[40px\] {
  margin-bottom: 40px
}

.tw-mb-\[50px\] {
  margin-bottom: 50px
}

.tw-mb-\[5px\] {
  margin-bottom: 5px
}

.tw-mb-\[8px\] {
  margin-bottom: 8px
}

.tw-mr-10 {
  margin-right: 2.5rem
}

.tw-mr-\[10px\] {
  margin-right: 10px
}

.tw-mt-\[10px\] {
  margin-top: 10px
}

.tw-mt-\[14px\] {
  margin-top: 14px
}

.tw-mt-\[16px\] {
  margin-top: 16px
}

.tw-mt-\[20px\] {
  margin-top: 20px
}

.tw-mt-\[30px\] {
  margin-top: 30px
}

.tw-mt-\[35px\] {
  margin-top: 35px
}

.tw-mt-\[40px\] {
  margin-top: 40px
}

.tw-block {
  display: block
}

.tw-flex {
  display: flex
}

.tw-grid {
  display: grid
}

.tw-hidden {
  display: none
}

.tw-h-\[220px\] {
  height: 220px
}

.tw-h-\[60px\] {
  height: 60px
}

.tw-h-\[80px\] {
  height: 80px
}

.tw-h-full {
  height: 100%
}

.\!tw-w-\[auto\] {
  width: auto !important
}

.tw-w-full {
  width: 100%
}

.tw-grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.tw-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

.tw-items-center {
  align-items: center
}

.tw-gap-\[10px\] {
  gap: 10px
}

.tw-gap-\[30px\] {
  gap: 30px
}

.tw-gap-\[30px_50px\] {
  gap: 30px 50px
}

.tw-gap-y-\[10px\] {
  row-gap: 10px
}

.tw-space-y-\[50px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(50px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(50px * var(--tw-space-y-reverse))
}

.tw-overflow-visible {
  overflow: visible
}

.tw-rounded-lg {
  border-radius: var(--radius-2)
}

.tw-rounded-xl {
  border-radius: var(--radius-3)
}

.tw-border {
  border-width: 1px
}

.tw-border-0 {
  border-width: 0px
}

.tw-border-b {
  border-bottom-width: 1px
}

.tw-border-t {
  border-top-width: 1px
}

.tw-border-t-2 {
  border-top-width: 2px
}

.tw-border-t-\[1px\] {
  border-top-width: 1px
}

.tw-border-solid {
  border-style: solid
}

.tw-border-border {
  --tw-border-opacity: 1;
  border-color: rgb(var(--color-border-1) / var(--tw-border-opacity, 1))
}

.tw-border-border\/10 {
  border-color: rgb(var(--color-border-1) / 0.1)
}

.tw-border-t-border {
  --tw-border-opacity: 1;
  border-top-color: rgb(var(--color-border-1) / var(--tw-border-opacity, 1))
}

.tw-border-t-border\/10 {
  border-top-color: rgb(var(--color-border-1) / 0.1)
}

.tw-bg-\[\#efefed\] {
  --tw-bg-opacity: 1;
  background-color: rgb(239 239 237 / var(--tw-bg-opacity, 1))
}

.tw-bg-\[\#f8f6f5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(248 246 245 / var(--tw-bg-opacity, 1))
}

.tw-bg-bg {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--bg) / var(--tw-bg-opacity, 1))
}

.tw-bg-bg-2nd {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--bg-2nd) / var(--tw-bg-opacity, 1))
}

.tw-bg-bg-3nd {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--bg-3nd) / var(--tw-bg-opacity, 1))
}

.tw-bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1))
}

.tw-bg-cover {
  background-size: cover
}

.tw-bg-fixed {
  background-attachment: fixed
}

.tw-bg-center {
  background-position: center
}

.tw-bg-no-repeat {
  background-repeat: no-repeat
}

.tw-object-contain {
  -o-object-fit: contain;
     object-fit: contain
}

.tw-p-\[30px\] {
  padding: 30px
}

.tw-px-0 {
  padding-left: 0px;
  padding-right: 0px
}

.tw-px-\[15px\] {
  padding-left: 15px;
  padding-right: 15px
}

.tw-py-\[30px\] {
  padding-top: 30px;
  padding-bottom: 30px
}

.tw-py-\[40px\] {
  padding-top: 40px;
  padding-bottom: 40px
}

.tw-py-\[50px\] {
  padding-top: 50px;
  padding-bottom: 50px
}

.tw-pb-\[60px\] {
  padding-bottom: 60px
}

.tw-pt-0 {
  padding-top: 0px
}

.tw-pt-\[10px\] {
  padding-top: 10px
}

.tw-pt-\[40px\] {
  padding-top: 40px
}

.tw-text-center {
  text-align: center
}

.tw-text-justify {
  text-align: justify
}

.tw-text-sm {
  font-size: var(--size-small)
}

.tw-font-semibold {
  font-weight: 600
}

.tw-ordinal {
  --tw-ordinal: ordinal;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}

.tw-leading-\[1\] {
  line-height: 1
}

.\!tw-text-bg {
  --tw-text-opacity: 1 !important;
  color: rgb(var(--bg) / var(--tw-text-opacity, 1)) !important
}

.tw-text-bg {
  --tw-text-opacity: 1;
  color: rgb(var(--bg) / var(--tw-text-opacity, 1))
}

.tw-text-bg\/70 {
  color: rgb(var(--bg) / 0.7)
}

.tw-opacity-50 {
  opacity: 0.5
}

/* Your custom styles */

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
}

@media not all and (min-width: 992px) {
  .max-lg\:tw-hidden {
    display: none
  }
}

@media not all and (min-width: 576px) {
  .max-sm\:tw-hidden {
    display: none
  }

  .max-sm\:tw-overflow-visible {
    overflow: visible
  }
}

@media (min-width: 576px) {
  .sm\:tw-pt-\[20px\] {
    padding-top: 20px
  }
}

@media (min-width: 768px) {
  .md\:tw-order-\[2\] {
    order: 2
  }

  .md\:tw-mt-\[60px\] {
    margin-top: 60px
  }

  .md\:tw-block {
    display: block
  }

  .md\:tw-hidden {
    display: none
  }

  .md\:tw-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }

  .md\:tw-grid-cols-\[1fr_360px\] {
    grid-template-columns: 1fr 360px
  }

  .md\:tw-grid-cols-\[360px_1fr\] {
    grid-template-columns: 360px 1fr
  }

  .md\:tw-p-\[40px\] {
    padding: 40px
  }

  .md\:tw-py-\[50px\] {
    padding-top: 50px;
    padding-bottom: 50px
  }

  .md\:tw-py-\[60px\] {
    padding-top: 60px;
    padding-bottom: 60px
  }

  .md\:tw-py-\[70px\] {
    padding-top: 70px;
    padding-bottom: 70px
  }

  .md\:tw-pt-\[60px\] {
    padding-top: 60px
  }
}

@media (min-width: 992px) {
  .lg\:tw-order-\[1\] {
    order: 1
  }

  .lg\:tw-mb-\[-40px\] {
    margin-bottom: -40px
  }

  .lg\:tw-hidden {
    display: none
  }

  .lg\:tw-h-\[380px\] {
    height: 380px
  }

  .lg\:tw-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }
}

@media (min-width: 1400px) {
  .xxl\:tw-mt-\[40px\] {
    margin-top: 40px
  }

  .xxl\:tw-rounded-xl {
    border-radius: var(--radius-3)
  }

  .xxl\:tw-px-\[15px\] {
    padding-left: 15px;
    padding-right: 15px
  }
}