<section class="pm-home-feature tw-py-[40px] md:tw-py-[60px]" id="feature">
    <div class="container">
        <div class="row section-row make-box-equal">
            <div class="col-lg-12">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h2 class="wow fadeInUp" data-cursor="-opaque"><span>LỢI ÍCH</span> KHI SỬ DỤNG</h2>
                </div>
                <!-- Section Title End -->
            </div>
            <div class="col-12 tw-mt-[40px]">
                <div class="swiper swiper-default max-sm:tw-overflow-visible" data-slider-per-view="1.2"
                    data-slider-per-view-md="2" data-slider-per-view-lg="3" data-space-between="24">
                    <div class="swiper-wrapper">
                        <!-- Hero Slide Start -->
                        <div class="swiper-slide">
                            <div class="pm-feature-box box">
                                <div class="pm-feature-box_thumb">
                                    <div class="pm-feature-box_thumb-inner">
                                        <img src="8pm-assest/images/home/product-feature---1.jpg" alt="product"
                                            class="pm-feature-box_thumb-img">
                                    </div>
                                </div>
                                <div class="pm-feature-box_body">
                                    <div class="pm-feature-box_title">Phù Hợp Từ Nghe Kém Nhẹ Đến Sâu </div>
                                    <div class="pm-feature-box_desc"> Dòng BTE có công suất cao nhất, đáp ứng mọi mức độ
                                        nghe kém từ nhẹ đến sâu. Đặc biệt hiệu quả cho người cao tuổi, người nghe kém
                                        đột ngột do bệnh lý, hoặc trường hợp nghe kém nặng cần công suất lớn. </div>
                                </div>
                            </div>
                        </div>
                        <!-- Hero Slide End -->
                        <!-- Hero Slide Start -->
                        <div class="swiper-slide">
                            <div class="pm-feature-box box">
                                <div class="pm-feature-box_thumb">
                                    <div class="pm-feature-box_thumb-inner">
                                        <img src="8pm-assest/images/home/product-feature---2.jpg" alt="product"
                                            class="pm-feature-box_thumb-img">
                                    </div>
                                </div>
                                <div class="pm-feature-box_body">
                                    <div class="pm-feature-box_title">Pin Tiện Lợi, dễ dàng thay đổi </div>
                                    <div class="pm-feature-box_desc">Máy cảnh báo pin yếu để bạn chủ động thay thế,
                                        không cần sạc mỗi đêm hay mang theo phụ kiện phức tạp </div>
                                </div>
                            </div>
                        </div>
                        <!-- Hero Slide End -->
                        <!-- Hero Slide Start -->
                        <div class="swiper-slide">
                            <div class="pm-feature-box box">
                                <div class="pm-feature-box_thumb">
                                    <div class="pm-feature-box_thumb-inner">
                                        <img src="8pm-assest/images/home/product-feature---3.jpg" alt="product"
                                            class="pm-feature-box_thumb-img">
                                    </div>
                                </div>
                                <div class="pm-feature-box_body">
                                    <div class="pm-feature-box_title">Dễ Sử Dụng, Thoải Mái Cả Ngày </div>
                                    <div class="pm-feature-box_desc"> Thiết kế móc tai êm ái, thân máy nhẹ chỉ 2-3 gram.
                                        Đeo tháo đơn giản với nút điều chỉnh âm lượng dễ thao tác. Phù hợp với người cao
                                        tuổi hoặc những ai chưa quen với thiết bị công nghệ. </div>
                                </div>
                            </div>
                        </div>
                        <!-- Hero Slide End -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <!-- Service Box Footer Start -->
            <div class="services-box-footer wow fadeInUp" data-wow-delay="1s">
                <a href="#test" class="btn-default">Kiểm tra thính lực</a>
            </div>
            <!-- Service Box Footer End -->
        </div>
    </div>
</section>