<!-- Hero Section Start -->
<div class="hero bg-image hero-slider pm-hero-slider">
    <div class="hero-slider-layout">
        <div class="swiper">
            <div class="swiper-wrapper">
                <!-- Hero Slide Start -->
                <div class="swiper-slide">
                    <div class="el-item">
                        <video muted="" autoplay="" loop="">
                            <source src="8pm-assest/video/home-video-1.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
                <!-- Hero Slide End -->
                <!-- Hero Slide Start -->
                <div class="swiper-slide">
                    <div class="el-item">
                        <img src="8pm-assest/images/blog/blog-1.jpg" alt="Image">
                    </div>
                </div>
                <!-- Hero Slide End -->
                <!-- Hero Slide Start -->
                <div class="swiper-slide">
                    <div class="el-item">
                        <img src="8pm-assest/images/blog/blog-2.jpg" alt="Image">
                    </div>
                </div>
                <!-- Hero Slide End -->
                <!-- Hero Slide Start -->
                <div class="swiper-slide">
                    <div class="el-item">
                        <img src="8pm-assest/images/blog/blog-3.jpg" alt="Image">
                    </div>
                </div>
                <!-- Hero Slide End -->
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
<!-- Hero Section End -->