<!-- Footer Start -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <!-- About Footer Start -->
                <div class="about-footer">
                    <!-- Footer Logo Start -->
                    <div class="footer-logo">
                        <img src="8pm-assest/images/logo/logo-white.png" alt="logo"
                            class="tw-h-[80px] tw-object-contain !tw-w-[auto]">
                    </div>
                    <!-- Footer Logo End -->
                    <div class=" tw-text-bg tw-text-sm">
                        <p class="tw-font-semibold tw-mb-[8px]">TRỤ SỞ HỒ CHÍ MINH</p>
                        <ul class="tw-text-bg/70">
                            <li>Tòa Nhà Vimedimex, Lầu 14, 246 Cống Quỳnh, P. Phạm Ngũ Lão,</li>
                            <li>Q.1, TP. HCM, Vietnam</li>
                            <li>Tel: 028 35 066 099, 0909 086 108 (Zalo), 18008133 (miễn cước)</li>
                        </ul>
                    </div>
                    <div class=" tw-mt-[14px] tw-text-bg tw-text-sm">
                        <p class="tw-font-semibold tw-mb-[8px]">CHI NHÁNH HÀ NỘI</p>
                        <ul class="tw-text-bg/70">
                            <li>Tầng 4 – 99 Giải Phóng, P. Đồng Tâm, Q. Hai Bà Trưng, HN, Vietnam</li>
                            <li>Tel: 086 9977 499 (Zalo), 18008133 (miễn cước)</li>
                        </ul>
                    </div>
                </div>
                <!-- About Footer End -->
            </div>
            <div class="col-lg-3 col-md-4">
                <!-- Footer Quick Links Start -->
                <div class="footer-links footer-quick-links">
                    <h3>Site map</h3>
                    <ul>
                        <li><a href="/">Trang chủ</a></li>
                        <li><a href="/gioi-thieu.html">Giới thiệu</a></li>
                        <li><a href="/blog.html">Blog</a></li>
                        <li><a href="/blog-single.html">Blog chi tiết</a></li>
                        <li><a href="/contact.html">Liên hệ</a></li>
                        <li><a href="/faqs.html">FAQs</a></li>
                        <li><a href="/thu-vien-hinh-anh.html">Thư viện hình ảnh</a></li>
                    </ul>
                </div>
                <!-- Footer Quick Links End -->
            </div>
            <div class="col-lg-3 col-md-4">
                <!-- Footer Quick Links Start -->
                <div class="footer-links footer-quick-links">
                    <h3>quick links</h3>
                    <ul>
                        <li><a href="#">home</a></li>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">services</a></li>
                        <li><a href="#">book apoointment</a></li>
                    </ul>
                </div>
                <!-- Footer Quick Links End -->
            </div>
            <div class="col-lg-2 col-md-4">
                <!-- Footer Social Links Start -->
                <div class="footer-links footer-social-links">
                    <h3>social media</h3>
                    <ul>
                        <li><a href="#">facebook</a></li>
                        <li><a href="#">instagram</a></li>
                        <li><a href="#">youtube</a></li>
                        <li><a href="#">twitter</a></li>
                    </ul>
                </div>
                <!-- Footer Social Links End -->
            </div>
        </div>
        <!-- Footer Copyright Section Start -->
        <div class="footer-copyright">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Footer Copyright Start -->
                    <div class="footer-copyright-text">
                        <p>Copyright © 2025 All Rights Reserved.</p>
                    </div>
                    <!-- Footer Copyright End -->
                </div>
            </div>
        </div>
        <!-- Footer Copyright Section End -->
    </div>
</footer>
<!-- Footer End -->