<!-- Header Start -->
<header class="main-header">
  <div class="header-sticky">
    <nav class="navbar navbar-expand-lg">
      <div class="container tw-gap-y-[10px]">
        <!-- Logo Start -->
        <a class="navbar-brand" href="/">
          <img src="8pm-assest/images/logo/logo-dark.png" alt="Logo" class="tw-h-[60px]">
        </a>
        <!-- Logo End -->
        <!-- Main Menu Start -->
        <div class="collapse navbar-collapse main-menu">
          <div class="nav-menu-wrapper">
            <ul class="navbar-nav mr-auto" id="menu">
              <li class="nav-item submenu"><a class="nav-link" href="/#product">Sản phẩm</a>
                <ul class="sub-menu">
                  <li class="nav-item"><a class="nav-link" href="/#">Máy trợ thính đặt trong ống tai</a></li>
                  <li class="nav-item"><a class="nav-link" href="/#">Máy thợ thính WowNice</a></li>
                  <li class="nav-item"><a class="nav-link" href="/#"> Máy trợ thính làm theo yêu cầu</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="/#benefit">Lợi ích</a></li>
              <li class="nav-item"><a class="nav-link" href="/#story">Câu chuyện</a></li>
              <li class="nav-item "><a class="nav-link" href="/#blog">Kiến thức</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="/#contact">Liên hệ</a></li>
              <li class="nav-item highlighted-menu"><a class="nav-link" href="/#test">Kiểm tra thính lực</a>
              </li>
            </ul>
          </div>
          <!-- Button Translate Start -->
          <div class="tw-mr-[10px]"> @@include('components/translate/button-translate.html') </div>
          <!-- Button Translate End -->
          <!-- Let’s Start Button Start -->
          <div class="header-btn d-inline-flex">
            <a href="/#test" class="btn-default">Kiểm tra thính lực</a>
          </div>
          <!-- Let’s Start Button End -->
        </div>
        <!-- Main Menu End -->
        <div class="tw-flex tw-items-center tw-gap-[10px] lg:tw-hidden">
          <!-- Let’s Start Button Start -->
          <div class="header-btn tw-leading-[1]">
            <a href="/#test" class="btn-default">Kiểm tra <span class="">thính lực</span></a>
          </div>
          <!-- Let’s Start Button End -->
          <!-- Button Translate Start -->
          <div class=""> @@include('components/translate/button-translate.html') </div>
          <!-- Button Translate End -->
          <div class="navbar-toggle"></div>
        </div>
      </div>
    </nav>
    <div class="responsive-menu"></div>
  </div>
</header>
<!-- Header End -->