<!-- Blog Item Start -->
<div class="blog-item wow fadeInUp">
    <!-- Post Featured Image Start-->
    <div class="post-featured-image" data-cursor-text="View">
        <figure>
            <a href="/blog-single.html" class="image-anime">
                <img src="8pm-assest/images/blog/blog-2.jpg" alt="">
            </a>
        </figure>
    </div>
    <!-- Post Featured Image End -->
    <!-- post Item Body Start -->
    <div class="post-item-body">
        <h2><a href="/blog-single.html">Mẹo bảo quản pin trợ thính</a></h2>
        <p>Pin trợ thính là một công cụ quan trọng trong việc bảo vệ sức khỏe thính. Dưới đây là một số mẹo bảo quản pin
            trợ thính hiệu quả:</p>
    </div>
    <!-- Post Item Body End-->
    <!-- Post Item Footer Start-->
    <div class="post-item-footer">
        <a href="/blog-single.html" class="read-more-btn">đọc thêm</a>
    </div>
    <!-- Post Item Footer End-->
</div>
<!-- Blog Item End -->