<div class="">
    <div class="container-xxl tw-px-0 xxl:tw-px-[15px]">
        <div class="row no-gutters">
            <div class="col-lg-12">
                <!-- Visit Clinic Start -->
                <div class="parallaxie xxl:tw-rounded-xl tw-bg-cover tw-bg-no-repeat tw-bg-fixed"
                    style="background-image: url(8pm-assest/images/blog/blog-2.jpg); ">
                    <!-- Visit Clinic Content Start -->
                    <div class="lg:tw-h-[380px] tw-h-[220px]">
                    </div>
                    <!-- Visit Clinic Content End -->
                </div>
                <!-- Visit Clinic End -->
            </div>
        </div>
    </div>
</div>